<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Fruits Index Page</title>
  </head>
  <body>
    <h1>Fruits index page</h1>
    <ul>
      <% for(let i = 0; i < fruits.length; i++){ %>
          <li>
            The
            <a href="/fruits/<%= fruits[i].id %>">
              <%=fruits[i].name; %>
            </a>
            is  <%=fruits[i].color; %>.
            <% if(fruits[i].readyToEat === true){ %>
                It is ready to eat.
            <% } else { %>
                It is not ready to eat.
            <% } %>
            <form action="/fruits/<%=fruits[i].id; %>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE" />
            </form>
            <a href="/fruits/<%=fruits[i].id; %>/edit">Edit</a>
          </li>
      <% } %>
    </ul>
    <nav>
      <a href="/fruits/new">Create a New Fruit</a>
    </nav>
  </body>
</html>
